*{
    margin: 0;
    padding: 0;
}
/* Header */
header{
    padding: 30px;
    text-align: center;
}
/* Section */
.cal-box{
    border: 1px solid black;
    background-color: brown;
    padding: 100px 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cal-box-inside{
    border: 1px solid black;
    text-align: center;    
    background-color: orange;
    padding: 150px;
    height: 200px;
}
.input-box ,.output-box{
    margin: 20px;
}
input{
    text-align: center;
}

#output1{
    background-color: white;
}

/* Footer */
footer{
    padding: 15px;
    text-align: center;
}